@model List<UsariosModels>;
@{
    ViewData["Title"] = "Inventario";

}
<div class="card col-8">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-asp-controller="Usuario" class="btn btn-primary btn-sm">Crear nuevo</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nombres</th>
                    <th>ApePa</th>
                    <th>ApePa</th>
                    <th>Calle</th>
                    <th>Colonia</th>
                    <th>NroCasa</th>
                    <th>tipo</th>
                    <th>Contraseña</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Identificador</td>
                        <td>@item.Nombres</td>
                        <td>@item.ApePa</td>
                        <td>@item.ApeMa</td>
                        <td>@item.Calle</td>
                        <td>@item.Colonia</td>
                        <td>@item.NroCasa</td>
                        <td>@item.tipo</td>
                        <td>@item.Contraseña</td>
                        <td>@item.Usuario</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Usuario" asp-route-Identificador="@item.Identificador" class="btn btn-primary btn-sm">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Usuario" asp-route-Identificador="@item.Identificador" class="btn btn-primary btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>


    </div>

